<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding With Sagar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div id="nav">
        <img class="img-1"  src="/images/murphy.png" alt="">
        <div class="menu">
            <button class="btnn">Courses</button>
            <button class="btnn">Events</button>
            <button class="btnn">Blogs</button>
            <button class="btnn">Contact Us</button>
            <button class="btnn">About Us</button>
        </div>
        <button class="log">Login</button>
    </div>
    </header>
