<%- include('partials/header') %>

<link rel="stylesheet" href="/css/courses.css">

<div id="main">
    <h1>All Courses</h1>
    <div id="all-courses">
       <% users.forEach(function(e){ %>
        <div id="courses">
            <div id="image"><img src="<%= users.image %>" alt=""></div>
            <h3><%= users.name %></h3>
            <h5><%= users.price %></h5>

            <div id="edit-course">
                <a class="ed" href="">Edit user</a>
                <a class="del" href="">Delete user</a>
            </div>
 </div>
       <%  })  %>


</div>

</div>




<script src="/javascript/script.js"></script>
</body>
</html>
