<%- include('partials/header') %>

<link rel="stylesheet" href="/css/courses.css">

<main>
    <div class="hero-section">
        <div class="trusted-by">
            <p>Trusted by 3,01,556+ Coders</p>
        </div>
        <h1>LIVE Placement Courses for Freshers</h1>
        <p class="para" >CWS coaches help you to master the most demandable and highly-payable coding skills LIVE.</p>
        <div class="button-group">
            <button class="learn-skill-btn">Learn a skill</button>
            <button class="consult-btn">Consult with us</button>
        </div>
    </div>
</main>


<script src="/javascript/script.js"></script>
</body>
</html>
