<%- include('partials/header') %>
<link rel="stylesheet" href="/css/createcourse.css">

<div id="main">

    <h1>Create courses</h1>

    <a href="/courses" class="create-user-link">view courses</a>

    <div id="courses">
           <form action="/createdcourse" method="post">
                <input class="a" type="text"  placeholder="course name" name="name">
                <input class="a" type="text"  placeholder="price" name="price">
                <input class="a" type="text"  placeholder="image url" name="image">
                <input class="a" type="submit" value="Create course">

           </form>



    </div>








</div>

<script src="../javascript/script.js"></script>