<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding With Sagar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div id="main">

    <div class="page1">
        <div id="nav">
            <img class="img-1"  src="/images/murphy.png" alt="">
            <div class="menu">
                <button class="btnn">Courses</button>
                <button class="btnn">Events</button>
                <button class="btnn">Blogs</button>
                <button class="btnn">Contact Us</button>
                <button class="btnn">About Us</button>
            </div>
            <button class="log">Login</button>
        </div>
    
        <div class="container-wrapper">
            <div class="container">
                <div id="content">
                    <h1>Become a <span>irreplaceable</span> software developer</h1>
                    <p>Explore a variety of coding courses, all in one convenient place. Improve your skills and leave a lasting impact!</p>
                    <div class="btn-container">
                        <button class="btn btn-start"><span class="btn-text">Start Code</span></button>
                        <button class="btn btn-enroll"><span class="btn-text">Enroll Now</span></button>
                    </div>
                </div>
                
                <div class="image-container">
                     <img src="/images/istockphoto-1285476239-612x612-removebg-preview.png" alt="">
                   
                </div>
            </div>
        </div>
       </div>
    
       <div class="page2">
        <h1>Coding With Sagar</h1>
        <nav>
          </nav>
        <form>
          <input type="text" placeholder="Search">
        </form>
      </header>
    
      <section id="hero">
        <h2>Student Achievement's <span class="star">★</span></h2>
        <p>1000+ Student's Are Placed In Top Companies</p>
        <ul>
          <li>Stripe</li>
          <li>Asana</li>
          <li>Google</li>
          <li>Spotify</li>
          <li>Trustpilot</li>
        </ul>
      </section>
    
      <section id="about">
        <h2>Hello</h2>
        <p>I'm Sagar Chouksey</p>
        <p>Founder of A award winning IT Training Institute</p>
        <p>Codingwise</p>
      </section>
    
      <footer>
        </footer>
    
      <script src="script.js"></script>
       </div>


   </div>
</body>
</html>
