
body {
    background: linear-gradient(to right, #1f2020, #747676);
}


#all-courses{
    overflow: hidden;
    display: flex;
    gap: 10px;
}



#courses{

   
    background-color: black;
    min-width: 250px;
    padding: 10px ;
    margin-left: 10px;

}

#courses img{
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}

#image{
    width: inherit;
    height: 200px;
    background-color: rgb(201, 48, 48);
}

h3{
    color: white;
    margin-top: 10px;
    font-size: 20px;
}
h5{
    color: rgb(198, 197, 197);
}
 a{
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
 }
 .del{
    color: red;
 }
 .ed{
    color: rgb(182, 178, 178);
 }