@font-face {
    font-family: aaa;
    src: url(/fonts/SFProDisplay-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aaa;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0D0F11;
}
body::-webkit-scrollbar {
    display: none;
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #16181D;
    padding: 22px 0;
    flex-shrink: 0;
}
#nav .log{
    padding: 12px 23px;
    border-radius: 22px;
    background-color: transparent;
    border-color: white;
    font-size: .9rem;
    font-weight: 600;
    color: rgb(198, 193, 193);
    cursor: pointer;
}

.img-1{
    height: 2.2rem;
    width: 3.5rem;
    cursor: pointer;
}

#content{
    max-width: 35vw;
}
#content #p-cont{
    max-width: 30vw;
}

#nav .btnn {
    color: rgb(211, 194, 194);
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#nav .btnn:hover {
    background-color: #241C32; 
    color: #A85FF1;
}


.container {
display: flex;
margin-left: 10rem;
margin-bottom: 3.2rem;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    margin-bottom:25px ;
    font-family: aaa;
}

h1 span {
    color: #A85FF1;
    letter-spacing: -1px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 22px;
    color: rgb(151, 142, 142);
}

.btn-container {
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.btn {
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:active {
    transform: scale(0.95); 
  }
/* .btn .btn-text {
    display: inline-block;
    position: relative;
    transform: translateY(-200%); 
    transition: transform 0.3s ease; 
}

.btn:hover .btn-text {
    transform: translateY(0); 
} */

/* .btn-start {
    background-color: #9b59b6;
}

.btn-enroll {
    background-color: #1D2023;
} */

.btn-start {
    background-color: #A85FF1;
    color: white;
    padding: 18px 21px;
    font-weight: 700;
}

.btn-enroll {
    background-color: #1D2023;
    color: white;
    padding: 18px 21px;
    font-weight: 700;
    
}

.image-container {
margin-top: 1px;
margin-left: 13rem;
}

.image-container img {
    width: 24rem;
    height: 19rem;
}

.image-container img {
    width: 24rem; 
    animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-60px);
    }
}

.page2{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   text-align: center;
}
#hero{
    margin-top: 12rem;
}
#hero-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero-cont p{
    font-size: 2rem;
    color: rgb(211, 206, 206);
}

#hero-cont p span{
color: #A056EB;
}
#hero #ach{
    background-color:#241C32;
    max-width: fit-content;
    color: #A056EB;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 1rem;
}


#hero h2 span{
color: #eeff00;
margin-left: 5px;


}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#company-logo{
    margin-top: 5rem;
    display: flex;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    max-width: 70vw;
}
#companies{
    
    display: inline-block;
    color: rgb(203, 198, 198);
    animation: 5s slide infinite linear;
    
}
 #companies h2 {
    display: inline-block;
    font-size: 2.7rem;
    margin: 0 40px;
}
#about #about-para{
    line-height: 2px;
}
#about-cont h2{
    margin-bottom: 1rem;
    background-color:#241C32;
    color:#A056EB;
    max-width: fit-content;
    font-size: 19px;
    padding: 3px 10px;
    border-radius: 10px;
}
#about-cont{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#about-cont h1{
    font-size: 3.3rem;
    font-weight: 900;
}
#about-para p{
    font-size: 1.1rem;

}



    .video-container {
       margin-top: 7rem;
    }





    .stats-container{
        margin-top: 3.5rem;
        display: flex;
        gap: 11rem;
    }

    .stat-item i{
        font-size: 30px;
        color: #A85FF1;
        font-weight: 100;
    }

    .youtube-cont{
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .stat-item .icon{
        padding: 10px 12px;
        background-color: #171B21;
        max-width: fit-content;
        margin-bottom: 1rem;
        border-radius: 10px;
        
    }
    .youtube-cont p{
        font-size: 15px;
    }

    .youtube-h2 h2{
        font-size: 2rem;
        color: #BDC6D0;
    }

    #graphic-wrapper{
        margin-top: 10rem;
    }


    #graphic-cont h2{
        margin-bottom: 1rem;
        background-color:#241C32;
        color:#A056EB;
        max-width: fit-content;
        font-size: 19px;
        padding: 3px 10px;
        border-radius: 10px;
    }
    #graphic-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4.5rem;
    
    }
    #graphic-cont h1{
        font-size: 3.3rem;
        font-weight: 900;
    }
    #graphic-cont h1 span{
        color: #A85FF1;
    }

    


    .page3 .graph{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #17191E;
        height: 65vh;
        width: 78%;
        border-radius: 10px;
        margin-bottom: 4rem;
    }

#graphic-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #g-content{
        max-width: 35vw;
    }


     #graphic-1-img{
        max-width: 35vw;
    }

    #g-content h2{
        margin-bottom: 1rem;
        background-color:#241C32;
        color:#A056EB;
        max-width: fit-content;
        font-size: 17px;
        padding: 3px 10px;
        border-radius: 10px;
    }
    #g-content h1{
        font-size: 1.5rem;
    }

    #g-content p{
        color: #838C98;
        max-width: 85%;
        font-size: 18px;
        line-height: 25px;
    }

    
    #page4-heading h2{
        margin-bottom: 1rem;
        background-color:#241C32;
        color:#A056EB;
        max-width: fit-content;
        font-size: 19px;
        padding: 3px 10px;
        border-radius: 10px;
    }
    #page4-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
    
    }
    #page4-heading h1{
        font-size: 3.3rem;
        font-weight: 900;
    }
    #page4-heading h1 span{
        color: #A85FF1;
    }
 .page4{
min-height: 100vh;
width: 100%;
background-color: #17191E;
padding: 5rem 0rem;
margin-top: 2rem;
 }


    .page4-container {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .page4-card {
        background-color: #0D0F11;
        border-radius: 10px;
        padding: 40px 20px;
        width: 550px;
        text-align: center;
    }
    
    .page4-card h2 {
        color: #8b5cf6;
        font-size: 24px;
    }
    
    .skills img {
        width: 100%;
        margin: 5px;
    }
    
    .features {
        max-width: 80%;
        margin-top: 20px;
        text-align: left;
    }
   .features h1{
    font-size: 2.5rem;
   }
   .features h1 span{
    color: #A85FF1;
   }
   .features p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 25px;
   }
    
    
    #page4-button {
        background-color: #8b5cf6;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 20px;
        text-decoration: none;
    }

    .card-icons{
        display: flex;
        gap: 15px;
    }
    .card-icon2{
        display: flex;
        gap: 15px;
    }
    .ccc{
        color: #A85FF1;
    }

   
